<div class="container mt-5">
    <h1 class="text-center">Hệ thống truy hồi thông tin Tiếng Việt</h1>
    <form class="d-flex justify-content-center mt-4" (ngSubmit)="search()">
        <input class="form-control me-2" type="search" placeholder="Type something" aria-label="Search"
            [(ngModel)]="query" name="query" required>
        <button class="btn btn-secondary" type="submit">Tìm kiếm</button>
    </form>
    <div *ngIf="searched && results && results.length > 0 && !loading && !error">
        <div *ngFor="let item of results" class="mt-4">
            <div class="result-header d-flex">
                <h2>{{ item.title }}</h2>
                <span>Điểm tương đồng: {{ item.similarity }}</span>
            </div>
            <p>{{ item.content }}</p>
            <div class="separator"></div>
        </div>
    </div>
    <div *ngIf="searched && results?.length === 0 && !loading" class="mt-4">
        <p>{{ error }}</p>
    </div>
    <div *ngIf="searched && loading" class="mt-4">Đang tìm kiếm...</div>
</div>